<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kegiatan Harian</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css">
    <style>
        .sec-navbar{
            height: 100vh;
        }
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
    <nav class="navbar bg-dark row">
        <div class="container-fluid">
          <span class="navbar-brand mb-3 ms-5 h1 text-white">ABSEN ANAK MAGANG</span>
        </div>
    </nav>
    <div class="row">
        <nav class="col-md-4 nav flex-column bg-dark w-25 sec-navbar">
            <% for (let AKUN of akun) { %>
            <h3 class="ms-5 mb-3 text-white bi-person-circle">   <%= AKUN.username %></h3>
            <% } %>
            <a class="nav-link bi-house-door-fill ms-5" href="mahasiswa">    Beranda</a>
            <a class="nav-link bi-calendar-fill ms-5" href="absensi">    Absensi</a>
            <a class="nav-link bi-arrow-counterclockwise ms-5" href="riwayat-absen">  Riwayat Absensi</a>
            <a class="nav-link bi-book-fill ms-5" href="kegiatan"> Kegiatan Harian</a>
            <a class="nav-link bi-person-fill ms-5" href="profil"> Profil</a>
            <a class="nav-link bi-box-arrow-left ms-5" href="/"> Logout</a>
        </nav>
        <div class="col-md-10 bg-body-secondary w-75">
            <p class="p-3 bi-book-fill">  /   Kegiatan Harian</p>
            <div class="card">
                <h5 class="card-header p-3">Kegiatan Harian</h5>
                <div class="card-body mt-3">
                    <h5 class="card-title">Selamat Datang, Yahak Lapil.</h5>
                    <p class="card-text">Selamat Datang di Aplikasi Absensi dan Kegiatan Harian Mahasiswa berbasis Web. Sebuah sistem yang memungkinkan para Mahasiswa PKL di Dinas Komunikasi dan Informatika Palembang untuk melakukan absensi dan mencatat kegiatan harian dari website. Sistem ini diharapkan dapat memberi kemudahan setiap Mahasiswa PKL untuk melakukan absensi dan mencatat kegiatan harian.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>