<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ubah Password</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="card mt-5">
            <h5 class="card-header p-3">UBAH PASSWORD</h5>
            <div class="card-body mt-3">
                <form action="/update-password" method="POST">
                    <div class="mb-3">
                        <label for="passwordLama" class="form-label">Password Saat Ini</label>
                        <input type="password" class="form-control" id="passwordLama" name="passwordLama" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordBaru" class="form-label">Password Baru</label>
                        <input type="password" class="form-control" id="passwordBaru" name="passwordBaru" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordKonfirm" class="form-label">Konfirmasi Password Baru</label>
                        <input type="password" class="form-control" id="passwordKonfirm" name="passwordKonfirm" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Ubah Password</button>
                    <a class="btn btn-danger" href="/profil"> Batal</a>
                </form>
            </div>
        </div>
    </div>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>